<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            gray: "#a3a3a3",
            warn: "#FFC007",
            danger: "#DC3547"
          },
          height: {
            '128': '35rem',
            '75': '19rem'
        }
        }
      }
    }
    </script>
</head>