<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (errors) { %>
        <% const realErrors = errors.replaceAll(',', ', ') %>
        <p style="color:red"><%= realErrors %> </p>
    <% } %>
    <form action="/login" method="post">
        <p>
            username <br>
            <input type="text" name="username">
        </p>
        <p>
            password <br>
            <input type="password" name="password">
        </p>
        <input type="submit" value="Login">
    </form>
</body>
</html>