<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>
<body>
    <%- include('../../partials/navbar') %>
    <div class="w-screen h-screen flex justify-center items-center">
        <div class="w-1/4 rounded-lg shadow-xl p-10 md:flex">
            <div class="md:p-auto my-auto">
                <h3 class="text-4xl font-bold flex justify-center items-center">Top-up</h3>
                <form action="/customer/topup" method="post">
                    <span class="text-sm">Ammount</span>
                    <input type="number" name="money" class="w-full border bg-accent px-4 py-1 rounded-lg">
                    
                    <input type="submit" value="Top-up" class="font-bold w-full bg-gray text-white px-3 py-1 rounded-lg mt-4">
                </form>
            </div>
        </div>
    </div>
</body>
</html>